{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<div class="profile-container">
    <h1>{{game.title}}</h1>
</div>

<div class="game-layout">
    <div class="game-frame-container">
        {% if game.type == 'link' %}
            <iframe src="{{ game.link }}" id="game-frame" allowtransparency="true" class="game-frame" allow="fullscreen"></iframe>
        <div class="game-controls">
            <a id="fullscreen-btn" >
             <img src="{{ url_for('static', filename='images/fullscreen-button.png') }}" alt="Fullscreen" class="fullscreen-icon">
            </a>
        </div>
        {% elif game.type == 'pygame' %}
            <iframe src="{{ url_for('pygame') }}" id="game-frame" allowtransparency="true" class="game-frame" allow="fullscreen"></iframe>
        <div class="game-controls">
            <a id="fullscreen-btn" >
             <img src="{{ url_for('static', filename='images/fullscreen-button.png') }}" alt="Fullscreen" class="fullscreen-icon">
            </a>
        </div>
        {% elif game.type == 'unity' %}
            <iframe src="{{ url_for('static', filename='games/' + game.link + '/index.html') }}" id="game-frame" allowtransparency="true" class="game-frame" allow="fullscreen"></iframe>
        {% endif %}

    </div>

    <div class="game-meta">
        <div class="game-type">
            {% if game.type == 'link' %}
                <img src="{{ url_for('static', filename='images/type/web.png') }}" alt="Web" class="type-icon">
                <span>Web</span>
            {% elif game.type == 'pygame' %}
                <img src="{{ url_for('static', filename='images/type/pygame.png') }}" alt="Pygame" class="type-icon">
                <span>Pygame</span>
            {% elif game.type == 'unity' %}
                <img src="{{ url_for('static', filename='images/type/unity.png') }}" alt="Unity" class="type-icon">
                <span>Unity</span>
            {% endif %}
        </div>
        {% if game.genre %}
            <p class="game-genre"><strong>Жанр:</strong> {{ game.genre }}</p>
        {% endif %}
        {% if game.installer %}
            <a href="{{ url_for('download_installer', game_id=game.id) }}" class="btn download-btn">💾Скачать</a>
        {% endif %}
    </div>
</div>


<div class="game-info-container">
    <div id="game-info" class="game-info">
        <h2 style="text-align: center">О игре</h2>
        <hr>
        <p>{{ game.description | safe }}</p>
    </div>
</div>

<!-- Блок комментариев -->
<div id="comments-section">
    <h3>Комментарии</h3>
    <form id="comment-form">
        <textarea id="comment-text" placeholder="Оставьте комментарий..." required></textarea>
        <button type="submit">Отправить</button>
    </form>
    <div id="comments-container"></div>
</div>

<script src="{{url_for('static', filename='js/fullscreen.js')}}" rel="javascript"></script>
<script>
    window.entityId = {{ game.id }};
    window.entityType = "game";
</script>
<script src="{{ url_for('static', filename='js/coments.js') }}" rel="javascript"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.cookie = "game_path={{ game.link }}; path=/; SameSite=Lax";
        console.log("game-layout:", document.querySelector('.game-layout'));
    });
</script>

{% endblock %}